<div class="row">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Apperclass Test Doc</a>
            </div>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <div class="input-group input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                        <input id="search-input" type="text" class="form-control" placeholder="Search">
                    </div>
                </div>
            </form>
        </div>
    </nav>
</div>